{% extends "base.html" %}
{% block content %}
<div class="p-5 mb-4 bg-white rounded-3 shadow-sm border-top border-4 border-primary">
    <h1 class="display-5 fw-bold text-dark">Sistema de Troca de Vagas Escolares</h1>
    <p class="fs-4 text-secondary">Facilitando a permuta de vagas e turnos no Distrito Federal.</p>
    <a class="btn btn-warning btn-lg px-4 text-dark mt-3 fw-bold" href="/register">Criar Conta</a>
    <a class="btn btn-outline-secondary btn-lg px-4 mt-3" href="/login">Já tenho conta</a>
</div>
{% endblock %}